<div class="jumbotron">
  <h2>Edit Patient Details</h2>
  <hr class="my-4">
  <p class="lead">
      

<%= render 'form', patient: @patient %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>

  </p>
</div>
